function Collision.isCollision 0
push argument 0
push argument 2
add
push argument 4
gt
push argument 0
push argument 4
push argument 6
add
lt
and
push argument 1
push argument 3
add
push argument 5
gt
and
push argument 1
push argument 5
push argument 7
add
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
