function Enemy.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 3
pop this 2
push pointer 0
call Enemy.draw 1
pop temp 0
push pointer 0
return
function Enemy.move 0
push argument 0
pop pointer 0
push pointer 0
call Enemy.erase 1
pop temp 0
push this 0
push this 2
sub
pop this 0
push this 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 512
pop this 0
label IF_FALSE0
push pointer 0
call Enemy.draw 1
pop temp 0
push constant 0
return
function Enemy.draw 1
push argument 0
pop pointer 0
push constant 16384
push this 0
push constant 16
call Math.divide 2
add
push this 1
push constant 32
call Math.multiply 2
add
pop local 0
push local 0
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Enemy.erase 1
push argument 0
pop pointer 0
push constant 16384
push this 0
push constant 16
call Math.divide 2
add
push this 1
push constant 32
call Math.multiply 2
add
pop local 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Enemy.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Enemy.erase 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
