function Enemy.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 2
neg
pop this 2
push constant 0
pop this 3
push constant 0
not
pop this 4
push pointer 0
return
function Enemy.move 0
push argument 0
pop pointer 0
push this 0
push this 2
add
pop this 0
push this 1
push this 3
add
pop this 1
push this 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 4
label IF_FALSE0
push constant 0
return
function Enemy.draw 0
push argument 0
pop pointer 0
push this 4
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 15
add
push this 1
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Enemy.setAlive 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Enemy.isAlive 0
push argument 0
pop pointer 0
push this 4
return
